<p-dialog header="ایجاد پست جدید" [(visible)]="display">
    <div>
        <label>متن کامل:
            <input type="text" pInputText [(ngModel)]="matneKamelePost" />
        </label>
        <label>خلاصه پست:
            <input type="text" pInputText [(ngModel)]="kholaseyePost" />
        </label>
        <label>تاریخ انتشار:
            <input type="date" pInputText [(ngModel)]="tarikheEnteshar" />
        </label>
        <label>عنوان:
            <input type="text" pInputText [(ngModel)]="onvan" />
        </label>
        <button pButton type="button" class="ui-button-raised ui-button-rounded" label="ایجاد" (click)="add()"></button>
    </div>
</p-dialog>

<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="ایجاد پست جدید"></button>

