<p-dialog header="ایجاد پست جدید" [(visible)]="display">
    <div class="ui-g">
        <div class="ui-g-12"> <label>عنوان:
                <input type="text" pInputText [(ngModel)]="onvan" />
            </label>
        </div>
        <div class="ui-g-12"> <label>خلاصه پست:
                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
                    [(ngModel)]="kholaseyePost"></textarea>
            </label>
        </div>
        <div class="ui-g-12"> <label>متن کامل:
                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
                    [(ngModel)]="matneKamelePost"></textarea>
            </label>
        </div>
        <div class="ui-g-12"> <label>تاریخ انتشار:
                <input type="date" pInputText [(ngModel)]="tarikheEnteshar" />
            </label>
        </div>
        <div class="ui-g-12"> <label>تصویر:
            <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple"
        accept="image/*" [auto]="true"></p-fileUpload>
        </label>
    </div>
    </div>
    <br>
    <button pButton type="button" class="ui-button-raised ui-button-rounded" label="ایجاد" (click)="add()"></button>

</p-dialog>
<br>
<button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="ایجاد پست جدید"></button>