<div class="p-grid sample-layout">
    <div class="p-col-12 p-md-2">
        منو
        <ul>
          <li>خانه</li>
          <li> اطلاعات گردشگری</li>
          <li>قیمت ارز</li>
        </ul>
        <br>
    </div>
</div>
    <h1 style="text-align: center;">{{post.onvan}}</h1>
   
    <!-- <p-galleria [(value)]="ax" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '800px'}" [numVisible]="7"> 
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%; display: block;"/>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
                <img [src]="item.thumbnailImageSrc" style="display: block;"/>
            </div>
        </ng-template>
    </p-galleria> -->
    <p style="text-align: center;">
{{post.matneKamelePost}}
    </p>
    
