<p-table [value]="users">
    <ng-template pTemplate="header">
        <tr>
            <th>نام کاربری</th>
            <th>رمز عبور</th>
            <th style="width:4em">ویرایش</th>
            <th style="width:4em">حذف</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
            <td>
                <button pButton icon="fa-search" (click)="setForm(user)"></button>
            </td>
            <td>
                <button pButton icon="fa-search" (click)="deleteUser(user)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-createuser (userCreated)="getUsers()"></app-createuser>

<p-dialog header="ویرایش کاربر" [(visible)]="display">
    <app-edit-user [item]="selected" *ngIf="selected" (userEdited)="getUsers()"></app-edit-user>
</p-dialog>