<p-table [value]="users">
    <ng-template pTemplate="header">
        <tr>
            <th>نام کاربری</th>
            <th>رمز عبور</th>
            <th>عملیات</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.userName}}</td>
            <td>{{user.password}}</td>
            <td>
                <button pButton icon="fa-search" (click)="setForm(user)">ویرایش</button>
                <button pButton icon="fa-search" (click)="confirm(user)">حذف</button>
            </td>
        </tr>
            <p-confirmDialog #cd header="تایید عملیات" icon="pi pi-exclamation-triangle">
                <p-footer>
                    <button type="button" pButton icon="pi pi-times" label="خیر" (click)="cd.reject()"></button>
                    <button type="button" pButton icon="pi pi-check" label="بلی" (click)="cd.accept()"></button>
                </p-footer>
            </p-confirmDialog>


    </ng-template>
</p-table>

<app-createuser (userCreated)="getUsers()"></app-createuser>
<p-dialog header="ویرایش کاربر" [(visible)]="display">
    <app-edit-user [item]="selected" *ngIf="selected" (userEdited)="getUsers()"></app-edit-user>
</p-dialog>