<p-table [value]="posts">
    <ng-template pTemplate="header">
        <tr>
            <th>متن کامل</th>
            <th>خلاصه پست</th>
            <th>تاریخ انتشار</th>
            <th>عنوان</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
        <tr>
            <td>{{post.matneKamelePost}}</td>
            <td>{{post.kholaseyePost}}</td>
            <td>{{post.tarikheEnteshar}}</td>
            <td>{{post.onvan}}</td>
        </tr>
    </ng-template>
</p-table>
<div>
    <label>عنوان:
        <input type="text" pInputText [(ngModel)]="onvan"/>
    </label>
    <label>خلاصه پست:
        <input type="text" pInputText [(ngModel)]="kholaseyePost"/>
    </label>
    <label>تاریخ انتشار:
        <input type="date" pInputText [(ngModel)]="tarikheEnteshar"/>
    </label>
    <label>متن کامل:
        <input type="text" pInputText [(ngModel)]="matneKamelePost"/>
    </label>


</div>
<button pButton type="button" class="ui-button-raised ui-button-rounded" label="add"
    (click)="add()"></button>