<p-table [value]="posts">
    <ng-template pTemplate="header">
        <tr>
            <th>متن کامل</th>
            <th>خلاصه پست</th>
            <th>تاریخ انتشار</th>
            <th>عنوان</th>
            <th>عملیات</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
        <tr>
            <td>{{post.matneKamelePost}}</td>
            <td>{{post.kholaseyePost}}</td>
            <td>{{post.tarikheEnteshar}}</td>
            <td>{{post.onvan}}</td>
            <td>
                <button pButton icon="fa-search" (click)="setForm(post)">ویرایش</button>
                <button pButton icon="fa-search" (click)="confirm(post)">حذف</button>
            </td>
        </tr>
                <p-confirmDialog #cd header="تایید عملیات" icon="pi pi-exclamation-triangle">
                        <p-footer>
                            <button type="button" pButton icon="pi pi-times" label="خیر" (click)="cd.reject()"></button>
                            <button type="button" pButton icon="pi pi-save" label="بلی" (click)="cd.accept()"></button>
                        </p-footer>
                    </p-confirmDialog>
    </ng-template>
</p-table>
   
<app-create-post (postCreated)="getPosts()"></app-create-post>
<p-dialog header="ویرایش پست" [(visible)]="display">
    <app-edit-post [item]="selected" *ngIf="selected" (postEdited)="getPosts()"></app-edit-post>
</p-dialog>