<p-toast [style]="{marginTop: '80px'}"></p-toast>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="ورود کاربر">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    نام کاربری *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="username" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="نام کاربری ضروری است"
                        *ngIf="!userform.controls['username'].valid&&userform.controls['username'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    کلمه عبور *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="1234" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error"
                        [text]="userform.controls['password'].errors['required'] ? 'کلمه ی عبور ضروری است' : userform.controls['password'].errors['minlength'] ? 'رمز عبور نباید از 4 کاراکتر کمتر باشد' : ''"
                        *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="ورود" [disabled]="!userform.valid" onclick="window.location = './dashboard'"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>

            <!-- <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="register" label="ثبت نام" onclick="window.location = './validationpage'"></button>
                    <a></a>
                </div>
                <div class="ui-grid-col-4"></div>
            </div> -->
        </div>
    </p-panel>
</form>