<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="ورود کاربر">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    نام کاربری *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="username" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="نام کاربری ضروری است"
                        *ngIf="!userform.controls['username'].valid&&userform.controls['username'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    کلمه عبور *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="1234" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error"
                        [text]="userform.controls['password'].errors['required'] ? 'کلمه ی عبور ضروری است' : userform.controls['password'].errors['minlength'] ? 'رمز عبور نباید از 4 کاراکتر کمتر باشد' : ''"
                        *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="ورود" [disabled]="!userform.valid"
                        (click)="onLogIn()"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                                      <button pButton type="submit" label="ورود" [disabled]="!userform.valid"
                        (click)="onLogIn()"></button>
                    <a></a>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </p-panel>
</form> -->

<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="19428847993-frskn8acr90p8crgv61diq61lgbcekvc.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      }
    </script>
  </body>
</html>