<div>
    <label>متن کامل:
        <input type="text" pInputText [(ngModel)]="item.matneKamelePost" />
    </label>
    <label>خلاصه پست:
        <input type="text" pInputText [(ngModel)]="item.kholaseyePost" />
    </label>
    <label>تاریخ انتشار:
        <input type="date" pInputText [(ngModel)]="item.tarikheEnteshar" />
    </label>
    <label>عنوان:
        <input type="text" pInputText [(ngModel)]="item.onvan" />
    </label>
</div>
<button pButton type="button" class="ui-button-raised ui-button-rounded" label="ویرایش" (click)="updatePost()"></button>