<div class="ui-g">
    <div class="ui-g-12"> <label>عنوان:
            <input type="text" pInputText [(ngModel)]="item.onvan" />
        </label>
    </div>
    <div class="ui-g-12"> <label>خلاصه پست:
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
                [(ngModel)]="item.kholaseyePost"></textarea>
        </label>
    </div>
    <div class="ui-g-12"> <label>متن کامل:
            <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"
                [(ngModel)]="item.matneKamelePost"></textarea>
        </label>
    </div>
    <div class="ui-g-12"> <label>تاریخ انتشار:
            <input type="date" pInputText [(ngModel)]="item.tarikheEnteshar" />
        </label></div>
</div>

<button pButton type="button" class="ui-button-raised ui-button-rounded" label="ویرایش" (click)="updatePost()"></button>